<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List Detail</title>
<nav>
    <a href="{% url "todo_list_list" %}"> Todo List</a>
</nav>
</head>
<body>
<main>
    <div>
        <h1>{{todo_list.name}}</h1>
        <p>
            <a href="{% url "todo_list_update" todo_list.id %}">Edit</a>
            <a href="{% url "todo_list_delete" todo_list.id %}">Delete</a>

        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {%for TodoItemEdit in todo_list.items.all %}
                    <tr>
                        <td><a href=" {% url "todo_item_update" TodoItemEdit.id %}">{{TodoItemEdit.task}}</a></td>
                        <td>{{TodoItemEdit.due_date}} </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
